<!DOCTYPE HTML>
<html>


<head>
    <meta charset="UTF-8">
    <title>Parking Area Blueprint</title>
    <link rel="stylesheet" href="New_project\static\style.css">
    <link href="https://fonts.googleapis.com/css?family=Merriweather|Montserrat|Sacramento&display=swap" rel="stylesheet">
</head>


<body>
<div class="top_container">
    <hr>
    <div class="A" id="A" onclick="lol()">
        <h1 class="lotnum">A1</h1>
    </div>
    <div class="A">
        <h1 class="lotnum">A2</h1>
    </div>
    <div class="A">
        <h1 class="lotnum">A3</h1>
    </div>
    <div class="A">
        <h1 class="lotnum">A4</h1>
    </div>
    <div class="A">
        <h1 class="lotnum">A5</h1>
    </div>
    <div class="A">
        <h1 class="lotnum">A6</h1>
    </div>
    <div class="A">
        <h1 class="lotnum">A7</h1>
    </div>
    <div class="A">
        <h1 class="lotnum">A8</h1>
    </div>
    <hr class="laneA">

    <div class="B">
        <h1 class="lotnum">B1</h1>
    </div>
    <div class="B">
        <h1 class="lotnum">B2</h1>
    </div>
    <div class="B">
        <h1 class="lotnum">B3</h1>
    </div>
    <div class="B">
        <h1 class="lotnum">B4</h1>
    </div>
    <div class="B">
        <h1 class="lotnum">B5</h1>
    </div>
    <div class="B">
        <h1 class="lotnum">B6</h1>
    </div>
    <div class="B">
        <h1 class="lotnum">B7</h1>
    </div>
    <div class="B">
        <h1 class="lotnum">B8</h1>
    </div>

    <br>

    <div class="C">
        <h1 class="lotnum">C1</h1>
    </div>
    <div class="C">
        <h1 class="lotnum">C2</h1>
    </div>
    <div class="C">
        <h1 class="lotnum">C3</h1>
    </div>
    <div class="C">
        <h1 class="lotnum">C4</h1>
    </div>
    <div class="C">
        <h1 class="lotnum">C5</h1>
    </div>
    <div class="C">
        <h1 class="lotnum">C6</h1>
    </div>
    <div class="C">
        <h1 class="lotnum">C7</h1>
    </div>
    <div class="C">
        <h1 class="lotnum">C8</h1>
    </div>

    <hr class="laneC">

    <div class="D">
        <h1 class="lotnum">D1</h1>
    </div>
    <div class="D">
        <h1 class="lotnum">D2</h1>
    </div>
    <div class="D">
        <h1 class="lotnum">D3</h1>
    </div>
    <div class="D">
        <h1 class="lotnum">D4</h1>
    </div>
    <div class="D">
        <h1 class="lotnum">D5</h1>
    </div>
    <div class="D">
        <h1 class="lotnum">D6</h1>
    </div>
    <div class="D">
        <h1 class="lotnum">D7</h1>
    </div>
    <div class="D">
        <h1 class="lotnum">D8</h1>
    </div>

    <br>

    <div class="E">
        <h1 class="lotnum">E1</h1>
    </div>
    <div class="E">
        <h1 class="lotnum">E2</h1>
    </div>
    <div class="E">
        <h1 class="lotnum">E3</h1>
    </div>
    <div class="E">
        <h1 class="lotnum">E4</h1>
    </div>
    <div class="E">
        <h1 class="lotnum">E5</h1>
    </div>
    <div class="E">
        <h1 class="lotnum">E6</h1>
    </div>
    <div class="E">
        <h1 class="lotnum">E7</h1>
    </div>
    <div class="E">
        <h1 class="lotnum">E8</h1>
    </div>

    <hr class="laneE">

    <div class="F">
        <h1 class="lotnum">F1</h1>
    </div>
    <div class="F">
        <h1 class="lotnum">F2</h1>
    </div>
    <div class="F">
        <h1 class="lotnum">F3</h1>
    </div>
    <div class="F">
        <h1 class="lotnum">F4</h1>
    </div>
    <div class="F">
        <h1 class="lotnum">F5</h1>
    </div>
    <div class="F">
        <h1 class="lotnum">F6</h1>
    </div>
    <div class="F">
        <h1 class="lotnum">F7</h1>
    </div>
    <div class="F">
        <h1 class="lotnum">F8</h1>
    </div>

</div>

<canvas id="myCanvas" width="300" height="150" style="border:1px solid #d3d3d3;">
Your browser does not support the HTML5 canvas tag.</canvas>

<script>
var c = document.getElementById("myCanvas");
var ctx = c.getContext("2d");
ctx.beginPath();
ctx.rect(20, 20, 150, 100);
ctx.fillStyle = "red";
ctx.fill();

ctx.beginPath();
ctx.rect(40, 40, 150, 100);
ctx.fillStyle = "blue";
ctx.fill();
</script>


</body>


</html>